.App {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.menu h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #21a1f1;
}